/* Main */

* {
    box-sizing: border-box;
}

body {
    --background-color: hsl(0, 0%, 98%);
    --border-color: rgba(0, 0, 0, 0.1);
    --border-radius: 5px;
    --spacing: 1.75rem;
    --speed: 0.15s;
    background: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.hide {
    display: none !important;
    visibility: hidden !important;
}

/* fn */

.fnheader {
    background: linear-gradient(to right, rgba(130, 180, 50, 0.75), rgba(80, 160, 240, 0.75));
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 200;
    backdrop-filter: blur(10px);
}

.fnheader h1 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    font-family: inherit;
}

.fnheader h1 a {
    margin-left: 0.5rem;
    color: #fff;
}

.fnheader h1 a:hover {
    text-decoration: underline;
}

/* Header */

#header {
    width: 100%;
    overflow: hidden;
}

header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: var(--spacing);
    margin: var(--spacing) var(--spacing) 0;
    justify-content: center;
    align-items: center;
    transform: translateX(50%);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--spacing);
}

footer p {
    margin: 0;
    color: hsl(0, 0%, 50%);
    text-align: center;
}

/* Size media queries */

@media (max-width: 600px) {

    html {
        font-size: 14px;
    }

    body {
        --spacing: 1rem;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
        margin: 16px var(--spacing);
        transform: none;
    }

}
