/* Main */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    --background-color: hsl(0, 0%, 98%);
    --border-color: rgba(0, 0, 0, 0.1);
    --border-radius: 5px;
    --spacing: 1.75rem;
    --speed: 0.15s;
    background: #fff;
    margin: 0;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
}

.hide {
    display: none !important;
    visibility: hidden !important;
}

#root {
    overflow-x: hidden;
}

/* fn */

.fnheader {
    text-align: center;
}

.fnheader:before {
    content: '';
    background: linear-gradient(to right, #82b432, #50a0f0);
    display: block;
    width: 100%;
    height: 2px;
}

.fnheader h1 {
    margin: 16px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    font-family: inherit;
}

.fnheader h1 a {
    margin-left: 8px;
}

.fnheader h1 a span:first-child {
    color: #82b432;
}

.fnheader h1 a span:last-child {
    color: #50a0f0;
}

.fnheader h1 a:hover {
    text-decoration: none;
}

.fnheader h1 a:hover span {
    text-decoration: underline;
}

/* Header */

header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: var(--spacing);
    margin: var(--spacing);
    justify-content: center;
    align-items: center;
    transform: translateX(50%);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--spacing);
}

footer p {
    margin: 0;
    color: hsl(0, 0%, 50%);
    text-align: center;
}

/* Size media queries */

@media (max-width: 600px) {

    html {
        font-size: 14px;
    }

    body {
        --spacing: 1rem;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
        margin: 16px var(--spacing);
        transform: none;
    }

}