/* Brewing info grid */

.brewing-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
    margin: 0;
    padding: 1.25rem 1.25rem;
    list-style: none;
    text-align: center;
}

.brewing-data li {
    display: flex;
    flex-direction: column;
}

.brewing-data li:last-child {
    grid-area: auto / span 3;
}

.bar {
    background: var(--faded-tea-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5px;
    margin-top: 0.25rem;
    position: relative;
    border-radius: 2.5px;
    overflow: hidden;
}

.bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-size: calc(100% + 2px) 100%;
}

.bar-3:before {
    background-image: repeating-linear-gradient(to right, transparent, transparent calc(33.333% - 2px), #fff calc(33.333% - 2px), #fff 33.333%);
}

.bar-5:before {
    background-image: repeating-linear-gradient(to right, transparent, transparent calc(20% - 2px), #fff calc(20% - 2px), #fff 20%);
}

.bar-10:before {
    background-image: repeating-linear-gradient(to right, transparent, transparent calc(10% - 2px), #fff calc(10% - 2px), #fff 10%);
}

.bar div {
    background: var(--tea-color);
    height: 100%;
    position: absolute;
    transition: width var(--speed) ease-in-out;
    z-index: 2;
}