// Tiniest reset ever
* {
    box-sizing: border-box;
}

body {
    --background-color: hsl(0, 0%, 98%);
    --border-color: rgba(0, 0, 0, 0.1);
    --border-radius: 5px;
    --spacing: 1.75rem;
    --speed-fast: 200ms;
    --speed-slow: 400ms;
    --easing-fast: ease-out;
    --easing-slow: cubic-bezier(0.23, 1, 0.32, 1); // ease-out-quint

    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;

    &.is-standalone {
        background-color: #000;

        &::before {
            position: fixed;
            z-index: 2000;
            top: -100px;
            right: 0;
            left: 0;
            display: block;
            height: 100px;
            backdrop-filter: blur(20px) saturate(200%);
            background-color: rgba(0, 0, 0, 0.5);
            content: "";
        }
    }
}

// Header
#header {
    overflow: hidden;
    width: 100%;
}

header {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: var(--spacing) var(--spacing) 0;
    grid-gap: var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    transform: translateX(50%);
}

// Footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--spacing);
}

footer p {
    margin: 0;
    color: hsl(0, 0%, 50%);
    line-height: 1.75;
    text-align: center;
}

// No search results message
#no-search-results {
    margin: var(--spacing);
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;

    & + #cards {
        display: none;
    }
}

// Brewing progress overlay
@keyframes progress {
    from {
        top: 100%;
    }

    to {
        top: 60px;
    }
}

.progress {
    position: fixed;
    z-index: 5;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    animation-fill-mode: forwards;
    animation-name: progress;
    animation-timing-function: linear;
    backdrop-filter: blur(20px);

    .is-standalone & {
        display: none;
    }
}

// Statistics table
.statistics {
    margin: var(--spacing);
    color: hsl(0, 0%, 50%);

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        &:last-child {
            margin-bottom: calc(var(--spacing) * -1);
        }
    }

    li {
        display: flex;
        flex: 0 0 80px;
        flex-direction: column;
        margin-bottom: var(--spacing);
        text-align: center;
    }
}

// Mobile
@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    body {
        --spacing: 1rem;
    }

    header {
        margin: 16px var(--spacing);
        grid-template-columns: repeat(1, 1fr);
        transform: none;
    }
}

// Imports for other global styles
@import "fnheader.scss";
@import "Inputs.scss";
@import "Typography.scss";
