// Container for all cards
#cards {
    display: grid;
    justify-content: center;
    margin: var(--spacing);
    grid-gap: var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}

// Single card
.card {
    --tea-color: rgb(212, 212, 212);
    --text-color: hsl(0, 0%, 20%);
    --faded-tea-color: rgba(212, 212, 212, 0.25);
    --darker-tea-color: hsl(0, 0%, 60%);
    --r: 212;
    --g: 212;
    --b: 212;
    --r-h: 51;
    --g-h: 51;
    --b-h: 51;

    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid var(--tea-color);
    background-color: var(--tea-color);
    border-radius: var(--border-radius);
    transition: all var(--speed-slow) var(--easing-slow);

    &.is-colorless {
        background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 20px, transparent 20px, transparent 40px);
        background-position: top center;
        background-repeat: repeat;
        background-size: 57px 57px;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &.timer-on {
        z-index: 1000;
        width: calc(100% + var(--spacing));
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        outline: none;
        transform: translate(calc(var(--spacing) / 2 * -1), calc(-7.625rem / 2));
    }

    .timer-on &.timer-off {
        filter: grayscale(100%);
        opacity: 0.5;
        pointer-events: none;
    }

    hgroup {
        position: relative;
        padding: 0.75rem 0.25rem;
        margin: 0;
        color: var(--text-color);
        text-align: center;
    }

    a {
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        opacity: 0;
        transition-duration: var(--speed-slow);
        transition-property: transform, opacity, background-color;
        transition-timing-function: var(--easing-slow);

        &:hover,
        &:focus {
            transform: scale(1.333);
        }

        &:focus {
            background-color: rgba(0, 0, 0, 0.25);
            outline: none;
        }
    }

    &:hover a,
    &:focus a,
    &:focus-within a {
        opacity: 1;
    }
}

// Full height shadow for the card
.card-shadow {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    display: block;
    border-radius: var(--border-radius);
    // https://brumm.af/shadows 5, 0.1, 25px, 25px, 0px
    box-shadow:
        0 0.9px 0.9px rgba(var(--r), var(--g), var(--b), 0.25),
        0 2.2px 2.2px rgba(var(--r), var(--g), var(--b), 0.172),
        0 4.4px 4.4px rgba(var(--r), var(--g), var(--b), 0.139),
        0 9.1px 9.1px rgba(var(--r), var(--g), var(--b), 0.111),
        0 25px 25px rgba(var(--r), var(--g), var(--b), 0.078);
    content: "";
    // box-shadow: 0 calc(var(--spacing) * 0.1) calc(var(--spacing) * 0.5) var(--shadow-color);
    transition: bottom var(--speed-slow) var(--easing-slow), box-shadow var(--speed-slow) var(--easing-slow);

    .card:hover &,
    .card:focus &,
    .card:focus-within &,
    .card.timer-on & {
        bottom: -7.625rem;
        // https://brumm.af/shadows 5, 0.25, 25px, 50px, 0px
        box-shadow:
            0 0.9px 1.7px rgba(var(--r-h), var(--g-h), var(--b-h), 0.25),
            0 2.2px 4.3px rgba(var(--r-h), var(--g-h), var(--b-h), 0.172),
            0 4.4px 8.9px rgba(var(--r-h), var(--g-h), var(--b-h), 0.139),
            0 9.1px 18.3px rgba(var(--r-h), var(--g-h), var(--b-h), 0.111),
            0 25px 50px rgba(var(--r-h), var(--g-h), var(--b-h), 0.078);
    }
}

// Card body content container
.card-body {
    position: relative;
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--background-color);
    border-radius: calc(var(--border-radius) - 2px);
    transition: height var(--speed-low) var(--easing-slow);
}

// List of info at the start of the card
.card-list {
    flex: 0 0 100%;
    padding: 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    background-color: #fff;
    list-style: none;

    li {
        display: flex;

        & > span {
            padding: 0.75rem;
        }
    }

    div {
        flex: 1 0 auto;
        padding: 0.75rem 1.25rem 0.75rem 0;
    }

    li:not(:last-child) div:last-child {
        border-bottom: 1px solid var(--border-color);
    }
}

// Tabs to switch between brewing styles
.card-tabs {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;

    button {
        flex: 1 0 auto;
        padding: 0.5rem 1rem;
        background-color: var(--background-color);
        color: #000;
        text-align: center;
        transition: all var(--speed-fast) var(--easing-fast);

        &:hover {
            background-color: var(--background-color) !important;
        }

        &:focus {
            box-shadow: none;
            font-weight: 600;
        }

        &.is-active {
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid #fff;
            background-color: #fff;

            &:hover {
                background-color: #fff !important;
            }
        }

        &:not(.is-active) {
            border-top: 1px solid transparent;
            border-bottom: 1px solid var(--border-color);
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }

        .card.timer-on &:not(.is-active),
        .card.timer-on &:not(.is-active):hover {
            color: hsl(0, 0%, 75%);
            cursor: default;
        }
    }

    li {
        display: flex;
        flex: 0 0 50%;

        &:only-child {
            flex: 0 0 100%;

            button {
                border-right: none !important;
                border-left: none !important;
                border-radius: 0 !important;
            }
        }

        &:first-child button {
            border-right: 1px solid var(--background-color);
            border-radius: 0 var(--border-radius) 0 0;

            &.is-active {
                border-right-color: var(--border-color);
            }
        }

        &:last-child button {
            border-left: 1px solid var(--background-color);
            border-radius: var(--border-radius) 0 0 0;

            &.is-active {
                border-left-color: var(--border-color);
            }
        }
    }
}

// Container of the content of the tabs
.card-tabs-content {
    flex: 0 0 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: calc(var(--border-radius) - 2px);

    .card:hover &,
    .card:focus &,
    .card:focus-within &,
    .card.timer-on & {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}

// Highlight searched text
.search-highlight {
    padding: 0 2px;
    margin: 0 -2px;
    background-color: rgb(80, 160, 240);
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

// Mobile
@media (max-width: 600px) {
    #cards {
        margin-top: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        &:hover,
        &:focus,
        &:focus-within,
        &.timer-on {
            width: 100%;
            border-radius: var(--border-radius);
            transform: none;
        }

        & hgroup {
            padding: calc(var(--spacing) * 0.75);
            cursor: pointer;
        }

        a {
            opacity: 1;
        }
    }

    .card-shadow {
        display: none;
    }

    .card-body {
        overflow: hidden;
        height: 0;
        transition: height var(--speed-slow) var(--easing-slow);

        .card.is-expanded & {
            height: 443px;
        }
    }
}
