.fnheader {
    position: sticky;
    z-index: 200;
    top: 0;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    @media (min-width: 600px) {
        width: 200vw;
        transform: translateX(-50vw);
    }

    @supports (backdrop-filter: blur(20px)) {
        backdrop-filter: blur(20px) saturate(200%);
        background-color: rgba(255, 255, 255, 0.5);
    }

    .is-standalone & {
        display: none;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        height: 2px;
        background-image: linear-gradient(to right, rgb(130, 180, 50), rgb(80, 160, 240));
        content: "";
    }

    h1 {
        margin: 0;
        color: #000;
        font-family: inherit;
        font-size: 1.25rem;
        font-weight: 600;

        a {
            position: relative;
            margin-left: 0.25rem;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, rgb(130, 180, 50), rgb(80, 160, 240));
            -webkit-text-fill-color: transparent;

            &::after {
                position: absolute;
                right: -1px;
                bottom: 0;
                left: -1px;
                display: block;
                height: 2px;
                background-image: linear-gradient(to right, rgb(130, 180, 50), rgb(80, 160, 240));
                border-radius: 2px;
                content: "";
                opacity: 0;
                transition: opacity var(--speed-fast) var(--easing-fast);
            }

            &:hover {
                text-decoration: underline;

                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
