// Timer container
.timer {
    position: absolute;
    top: calc(100% - var(--border-radius));
    right: -2px;
    left: -2px;
    overflow: hidden;
    height: calc(var(--border-radius) + 2px);
    border: 2px solid var(--tea-color);
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    transition: height var(--speed-slow) var(--easing-slow), top var(--speed-slow) var(--easing-slow);

    .card:hover &,
    .card.timer-on & {
        top: 100%;
        height: calc(7.625rem + 2px);
    }
}

.timer-body {
    display: flex;
    align-items: center;
}

.timer-duration {
    position: relative;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0;
}

// Timer buttons and their icons
.timer-control {
    display: flex;
    flex: 0 1 20%;

    button {
        display: flex;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    svg {
        display: block;
        width: 16px;
        height: 16px;
    }

    &:first-child {
        justify-content: flex-start;

        svg {
            margin-right: 2px;
        }
    }

    &:last-child {
        justify-content: flex-end;

        svg {
            margin-left: 2px;
        }
    }

    polygon {
        fill: var(--text-color);
    }
}

.timer-content {
    flex: 1 0 60%;
    text-align: center;

    strong {
        display: block;
        font-size: 2rem;
        line-height: 1.2;
    }
}

.timer-section {
    padding: 0 1.25rem 0.75rem 1.25rem;
    text-align: center;
}

// Mobile
@media (max-width: 600px) {
    .timer {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: auto;
        border: none;
        background: none;
    }

    .timer-duration {
        width: 2.5rem;
        height: 2.5rem;

        &::before {
            transform: scale(1.25);
        }
    }
}
